<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="frontend/fragments :: header1"></head>
  <body>
<!--header-->
	<header th:replace="frontend/fragments :: header2_auth"></header>
<!--/header-->

<section class="w3l-features py-5" id="facilities" th:fragment="latest_projects">
    <div class="call-w3 py-lg-5 py-md-4 py-2">
        
        <div class="container">
        
            <div class="row main-cont-wthree-2">
            
                <div class="col-lg-12 feature-grid-right mt-lg-0 mt-5">
                <h4><b>New Startups</b></h4>
   				<hr>
                    <div class="call-grids-w3 d-grid">
                        <div class="grids-1 box-wrap" th:each="applications : ${applications}">
                            <a th:href="@{/dashboard/details/{id}(id=${applications.id})}" class="icon"><span class="fa fa-certificate"></span></a>
                            <h4><a th:href="@{/dashboard/details/{id}(id=${applications.id})}">[[${applications.businessLine.sector}]]</a></h4>
                            <p>[[${applications.businessLine.commodity}]]</p>
                            <p style="float:right"><a th:href="@{/dashboard/details/{id}(id=${applications.id})}">View More</a></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- testimonials -->


<!-- footer -->

<!-- //footer -->

<section th:replace="frontend/fragments :: javascript"></section>


</body>

</html>