<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head th:replace="frontend/fragments :: header1"></head>
  <body>
<!--header-->
	<header th:replace="frontend/fragments :: header2"></header>
<!--/header-->
<!-- about breadcrumb -->
<section class="w3l-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container pt-lg-5 pt-3 p-lg-4 pb-3">
            <h2 class="title mt-5 pt-lg-5 pt-sm-3">Register</h2>
            <ul class="breadcrumbs-custom-path pb-sm-5 pb-4 mt-2 text-center mb-md-5">
                <li><a href="index.html">Home</a></li>
                <li class="active"> / Register </li>
            </ul>
        </div>
    </div>
    <div class="waveWrapper waveAnimation">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none">
            <path d="M-5.07,73.52 C149.99,150.00 299.66,-102.13 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none;"></path>
        </svg>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- contact block -->
<!-- contact1 -->
<section class="w3l-contact-1 pb-5" id="contact">
    <div class="contacts-9 py-lg-5 py-md-4">
        <div class="container">
            <div class="d-grid">
                <div class="map-content-9">
                    <h5 class="mb-sm-4 mb-3">Register</h5>
                     <div th:if="${message}">
					     <div class="alert alert-info">[[${message}]]
					      </div>
					  </div>
                    <form th:action="@{/save}" method="Post" th:object="${user}">
                        <div class="twice-two">
                        	<div class="form-group">
                        		<h6><label>First Name</label></h6>
	                            <input type="text" class="form-control" th:field="*{firstName}" 
	                                required>
	                            <span style="color:red;font-style:italic" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                            </div>
                            <div class="form-group">
                            <h6><label>Last Name</label></h6>
	                            <input type="text" class="form-control" th:field="*{lastName}"  required>
	                            	<span style="color:red;font-style:italic" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                            </div>
                        </div>
                         <div class="twice-two">
                         	<div class="form-group">
                         	<h6><label>Email Address</label></h6>
	                            <input type="email" class="form-control" th:field="*{email}"
	                                required>
	                                 <span style="color:red;font-style:italic" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
	                         </div>
	                         <div class="form-group">
	                         <h6><label>Phone Number</label></h6>
                            	<input type="number" class="form-control" th:field="*{phoneNumber}" 
                                required>
                                 <span style="color:red;font-style:italic" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                            </div>
                        </div>
                        <div class="twice-two">
                       		<div class="form-group">
                       		<h6><label>Gender</label></h6>
	                            <select class="form-control" th:field="*{gender}" required>
	                            	<option value="">--select--</option>
		                           	<option value="Male">Male</option>
		                           	<option value="Female">Female</option>
		                           
	                            </select>
                            </div>
                            <div class="form-group">
                       		<h6><label>Account Type</label></h6>
	                            <select class="form-control" th:field="*{accountType}" required>
	                            	<option value="">--select--</option>
		                           	<option value="STARTUP">Startup</option>
		                           	<option value="INVESTOR">Investor</option>
		                           
	                            </select>
                            </div>
                        </div>
                        <div class="twice-two">
                       		<div class="form-group">
                       		<h6><label>ID Type</label></h6>
	                            <select class="form-control" th:field="*{idType}" required>
	                            	<option value="">--ID Type--</option>
		                           	<option value="National">National</option>
		                           	<option value="Passport">Passport</option>
		                           	<option value="Military">Military</option>
	                            </select>
                            </div>
                            <div class="form-group">
                            	<h6><label>ID Number</label></h6>
	                            <input type="number" class="form-control" th:field="*{idNumber}" 
	                                required>
	                          		 <span style="color:red;font-style:italic" th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}"></span>
                            </div>
                        </div>
                         <div class="form-group">
                            <h6><label>Physical Address</label></h6>
                                 <input type="text" class="form-control" th:field="*{physicalAddress}"  
                                required>
                                 	<span style="color:red;font-style:italic" th:if="${#fields.hasErrors('physicalAddress')}" th:errors="*{physicalAddress}"></span>
                           
                        </div>
                        <div class="twice-two">
                        	<div class="form-group">
                        	<h6><label>Password</label></h6>
	                            <input type="password" class="form-control" th:field="*{password}"  required>
	                            	 <span style="color:red;font-style:italic" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                            </div>
                            <div class="form-group">
                            	<h6><label>Confirm Password</label></h6>
	                            <input type="password" class="form-control"  required>
	                           
                            </div>
                        </div>
                        
                        <div class="text-left">
                            <button type="submit" class="btn btn-primary btn-style mt-4">Create Account</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /contact1 -->
<!-- //contact block -->
<!-- footer -->
<section th:replace="frontend/fragments :: footer"></section>
<!-- //footer -->

<!-- Template JavaScript -->
<section th:replace="frontend/fragments :: javascript"></section>


</body>

</html>